*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* ===================== header content =====================*/
header{
    height: 100px;
    width: 100%;
    border-bottom: #4169e1 solid 2px;
    color: black;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
}
.navbar a{
    color: black;
    font-weight:lighter;
    letter-spacing: 1px;

}

#logoImg{
    width: 250px;
    height: 100px;
    padding: 0.5rem;
}
.menu {
    display: flex;
    align-self: flex-end;
}
.menu>li{
    list-style-type: none;
    padding: 1.5rem;
}.menu>li>a{
    text-decoration: none;
    font-size: 2rem;
}

/* ===================== entrance =====================*/
#entrance{
    width: 100%;
    margin:2rem auto;
}
#imgContainer{
    max-width: 880px;
    margin: auto;
}
#entrance h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    text-decoration: underline 1px;
}
#cover{
    height: 300px;
    opacity: 0;
}
#entrance img{
    width: 100%;
    height: auto; 
}
#entrance p{
    background-color: #fff;
}
/* ===================== rooms =====================*/


#view_rooms{
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.room{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid black;
    padding: 0.5rem;
}

.thumbnail-prev{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail{
    min-width: 30%;
    max-width: 60%;
    
}



.main-img{
    border: 0;
    width: 100%;
    height: auto;
}


/* ===================== Booking Page=====================*/
#booking-main{
    padding: 20px;
    max-width: 680px;
    margin: auto;
}

#booking-main h2{
    text-align: center;
}



.form{
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}
.form>div{
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid 4169e1;
}
.form input{
    font-size: 1.5rem;
    letter-spacing: 2px;
    caret-color: #00ff00;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 1px;
    padding: 0.3rem;
}
select{
    width: 100px;
    margin: 3px;
}
#submit{
    height: 50px;
    background-color: #4169e1;
    color: #ffffff;
}

footer{
    /* height: 250px; */
    width: 100%;
    display: flex;
    background-color: #303030;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.flexboxes{
    margin: 10px;
    width: 250px;
    height: 150px;
    color: #ffffff;
}
.flexboxes a{
    color: #f5f5dc;
}

/* ===================== About Page=====================*/
#about-main{
    padding: 1.2rem;
    display: flex;
}
 #links, #content{
    padding: 2rem;
    width: 250px;
}
#links{
    flex-grow: 0;
    border-right:1px grey solid;
}
#links li{
    list-style: none;
    padding: 0.3rem;
}
#content{
    flex-grow: 1;
}
#content img{
    width: 220px;
    border-radius: 1rem;
    margin: 1rem;
}
#content article:not(:last-child){
    margin-bottom: 1.8rem;
    padding-bottom: 1rem ;
    border-bottom: 2px solid black;
}


/* ===================== media queries =====================*/
@media (min-width: 800px) {
    .room{
        width: 450px;
    }
}
@media (max-width: 768px) {
    header{
        height: 150px;
        width: 100%;
        position: sticky;
        top: -100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .menu{
        align-self: center;
        
    }
    .menu>li{
        list-style-type: none;
        padding: 1.5rem;
    }.menu>li>a{
        text-decoration: none;
        font-size: 1rem;
    }
    #about-main{
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    #links{
        display: none;
        border: none;
    }
    #content{
        padding: 1rem;
    }
}
