.main-img{
    max-width: 600px;
    height: auto;
}

.introVid{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    background-color: #ddd;
}

.aboutUsCard{
    width: 60%;
    margin: 0 auto;
    margin-top: -80px;
    
    font-weight: 600;

    background-color: #909eae;
    background-image: linear-gradient(147deg, #909eae 0%, #a7a6ba 74%);

}

.container{
  height: fit-content;
}

/* Images */

.image-container {
  /* Optional: restrict overflow if you want */
  overflow: hidden;
}

.hover-grow {
  transition: transform 0.3s ease-in-out;
}

.hover-grow:hover {
  transform: scale(1.1); /* grow 10% */
}

@media only screen and (max-width: 560px) {
  .introVid{
    height: 60vh;
  }

  .aboutUsCard{
    margin-top: -140px;
    margin-bottom: 50px;
    background-color: #909eae49;
    -webkit-background-color: #909eae49;
    width: 95%;
    font-weight: 200;
    background-image: none;
    padding-inline: 10px;
  }
}