.main-img{
    max-width: 600px;
    height: auto;
}

.introVid{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    background-color: #ddd;
}

.introImg{
  width: 100%;
  height: auto;
}

.aboutUsCard{
    width: 60%;
    margin: 0 auto;
    margin-top: -80px;
    
    font-weight: 600;

    background-color: #ffffff;

}

.container{
  height: fit-content;
}

/* Images */

.image-container {
  /* Optional: restrict overflow if you want */
  overflow: hidden;
}

.hover-grow {
  transition: transform 0.3s ease-in-out;
}

.hover-grow:hover {
  transform: scale(1.1); /* grow 10% */
}



/* Hide video on screens smaller than 800px */
@media (max-width: 800px) {
    .introVid {
        display: none;
    }
}

/* Hide image on screens larger than 800px */
@media (min-width: 801px) {
    .introImg {
        display: none;
    }
}

@media only screen and (max-width: 560px) {
  .introVid{
    height: 60vh;
  }

  .aboutUsCard{
    margin-top: -140px;
    margin-bottom: 50px;
    background-color: rgba(144, 158, 174, 0.6);
    -webkit-background-color: rgba(144, 158, 174, 0.6);
    width: 95%;
    font-weight: 200;
    background-image: none;
    padding-inline: 10px;
  }
}