.roomsContainer {
    background-image: url('https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

/* Image View and rooms */
.roomView {
    margin: 40px auto;
    min-height: 450px;
    max-width: 1200px;

}

.roomView h1 {
    margin-bottom: 30px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.roomCard {
    margin-inline: 10px;
    max-width: 350px;
}